<section class="social"> 
  <div class="group"> <h1>About Me</h1>
  <a href="/about/"><img src="/images/profilepic.jpg" class="profilepic floatleft"></a> Hi! I am Arun Ravindran. I live in Bangalore, India. I blog on programming, photography, movies and a lot of other things. <a href="/about/">Know more.</a>
  </div> 
  <h1>Follow Me</h1> 
  <ul> 
    <li><a id="soc-rss" href="http://feeds.feedburner.com/Arunrocks">RSS</a></li> 
    <li><a id="soc-lin" href="http://in.linkedin.com/in/arunvravindran">LinkedIn</a></li> 
    <li><a id="soc-git" href="https://github.com/arocks">Github</a></li> 
    <li><a id="soc-twi" href="http://twitter.com/arocks">Twitter</a></li> 
    <li><a id="soc-del" href="http://www.delicious.com/arun_ravindran">Delicious</a></li> 
  </ul> 
</section> 
