---
layout: manyposts
title: Archives of all posts
---
<article role="post">
<h1> All posts </h1>

<ul>

{% for post in site.posts %}

{% unless post.next %}
  <h3>{{ post.date | date: '%Y' }}</h3>

{% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
     <h3>{{ post.date | date: '%Y' }}</h3>
  {% endif %}
{% endunless %}


  <li>
    <span class="date">{{ post.date | date: '%b %d' }}: </span>
    <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
  </li>
{% endfor %}

  </li>
</ul>
</article>
