---
layout: manyposts
title: Blog
---
{% for post in site.posts limit:4 %}
<article role="post"><header class="postdate"> 
    <time pubdate datetime="{{ post.date  | date:"%Y-%m-%d"}}"> <abbr title="{{ post.date  | date:"%A, %d %B %Y"}}">
      <span class="dd">{{ post.date  | date:"%d"}}</span> {{ post.date  | date:"%b %Y"}} </abbr>
    </time> 
</header> 
<section> 

<h1><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
{{ post.content }}
<!-- ================================================================================ -->
<footer>
    <!-- tags --> 
    {% for tag in page.tags limit: 3 %}
    <ul class="tags group"> 
        <li><a href="/tags/{{tag | replace:' ', '-' | downcase }}" rel="tag">{{ tag }}</a></li> 
    </ul> 
    {% endfor %}
</footer>
</article>

{% endfor %}

<p><a href="/blog/all">More posts in my archives &raquo;</a></p>
