<!DOCTYPE html> 
<!-- ================================= arun ravindran from arunrocks.com ============ -->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
<title>{{ page.title }} | arunrocks.com</title> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" /> 
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css?date=20121021" /> 
<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/Arunrocks" title="arunrocks" /> 
<link rel="canonical" href="{{ page.url }}" /> 
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
{% if page.previous %}<link rel="prev" href="{{ page.previous.url }}" /> {% endif %}
{% if page.next %}<link rel="next" href="{{ page.next.url }}" /> {% endif %}
<script src="/javascripts/modernizr.min.js"></script>
</head>

<!-- ================================================================================ -->
<body>
<a id="top" name="top"></a>
<header id="banner"> 
    <h1 id="logo"><a href="/" rel="index"> 
        arunrocks.com
    </a></h1> 
    <div id="actor1"></div> <div id="actor2"></div>
    <nav class="group"><ul> 
        <li><a {% unless page.microsite %}class="cur" {% endunless %}href="/blog/" title="Blog: Tech & Tales">
        Blog          <br><sub>Tech & Tales</sub></a></li> 
        <li><a {% if page.microsite == 'lab' %}class="cur" {% endif %}href="/lab/" title="Lab: My Games & Projs">
        Lab        <br><sub>My Games & Projs</sub></a></li> 
        <li><a {% if page.microsite == 'films' %}class="cur" {% endif %}href="/films/" title="Films: Short Movies">
        Films     <br><sub>Short Movies</sub></a></li> 
        <li><a {% if page.microsite == 'photos' %}class="cur" {% endif %}href="/photos/" title="Photos: Gallery of Snaps">
        Photos     <br><sub>Gallery of Snaps</sub></a></li> 
    </ul></nav> 
</header> 
<!-- ================================================================================ -->
<section id="container">
{{ content }}
</section>
<!-- ================================================================================ -->
<a id="bottom" name="bottom"></a>
<footer id="siteinfo"> 
<div class="group">
<p class="sitelinks"> Browse: 
  <a href="/blog/all/">Archives</a>, 
  <a href="/blog/tags/">Tags</a> 
  Or Search
</p>
<form id="search" method="get" action="https://duckduckgo.com"> 
  <input type="hidden" name="sites" value="arunrocks.com" /> 
  <input type="search" name="q" placeholder="search this site" /> 
  <input type="submit" value="Find" /> 
</form> 
</div>
<address class="vcard author">
  Design and Code by
  <a href="http://arunrocks.com/" class="fn url">Arun Ravindran</a>
  | Built using
  <a href="https://github.com/mojombo/jekyll/wiki">Jekyll</a>
  | Hosted on
  <a href="https://customers.asmallorange.com/aff.php?aff=15201">asmallorange</a>
  <br/> <!-- license --> 
  <a href="http://creativecommons.org/licenses/by/2.5/" rel="license" class="license" title="All content under Creative Commons Attribution 2.5 license"> BY 2.5</a>
</address>
</footer> 
<!-- ================================================================================ -->
<script type="text/javascript">
  window._gaq = [['_setAccount','UA-26390496-1'],['_trackPageview'],['_trackPageview']];
</script>
<script async src="https://www.google.com/jsapi?key=ABQIAAAAruDpXM1h4nJ_alJtT7RebRRy5Se8ZoRlHtT5rIVT_Pvjm0vvVRQ47XfN7voeh_HfF9aLTbt6VeYiyA"></script>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script async src="/javascripts/respond.js"></script>
<script async src="http://arunrocks.disqus.com/embed.js"></script>
<script async src="//www.google-analytics.com/ga.js"></script>
<script async src="/javascripts/jquery-hotkeys.js"></script>
<script async src="/javascripts/site.js?date=20120707"></script>
</body>
</html>
 
