---
layout: base
---
 
<article role="post">
<!-- ================================================================================ -->
<header class="postdate"> 
    <time pubdate datetime="{{ page.date  | date:"%Y-%m-%d"}}"> <abbr title="{{ page.date  | date:"%A, %d %B %Y"}}">
      <span class="dd">{{ page.date  | date:"%d"}}</span> {{ page.date  | date:"%b %Y"}} </abbr>
    </time> 
</header> 
<section> 

<h1><a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a></h1>
{{ content }}
<!-- ================================================================================ -->
<footer>
    <!-- tags --> 
    <ul class="tags group"> 
    {% for tag in page.tags limit: 3 %}
        <li><a href="/tags/{{tag | replace:' ', '-' | downcase }}" rel="tag" title="See all posts tagged with {{tag}}">{{ tag }}</a></li> 
    {% endfor %}
    </ul> 

    <!-- ================================================================================ -->
<aside role="socialbutns" class="scrollbox"> 
<span  class='st_reddit_hcount' displayText='Reddit'></span><span  class='st_twitter_hcount' displayText='Tweet'></span><span  class='st_sharethis_hcount' displayText='ShareThis'></span><span  class='st_fblike_hcount' ></span><span  class='st_plusone_hcount' ></span>

<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'13557bf3-e5c7-401d-a450-ff201cb0ae3d'});</script>
</aside> 
</section> 
    <!-- navigation --> 
    <ul class="navlinks group"> 
      {% if page.previous.url %} 
        <li><a rel="previous" href="{{page.previous.url}}">Prev <br><sub>{{page.previous.title}}</sub></a></li> 
      {% else %} 
        <li><a rel="previous">No Prev <br><sub></sub></a></li> 
      {% endif %} 
        <li><a rel="pagetop" href="/blog/">Main</a></li> 
      {% if page.next.url %} 
        <li><a rel="next" href="{{page.next.url}}">Next <br><sub>{{page.next.title}}</sub></a></li> 
      {% else %} 
        <li><a rel="next">No Next <br><sub></sub></a></li> 
      {% endif %} 
    </ul> 
</footer>

<section role="comments"> 
<h1>Comments</h1> 

  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'arunrocks';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

<p><a rel="pagetop" href="#top">Go back to top</a></p> 
</section> 
<!-- ================================================================================ -->
<aside class="socialpost"> 
</aside>
<!-- ================================================================================ -->
<aside role="sidebar"> 
{% include about_me.html %}

{% if site.related_posts %}
<section class="related"> 
  <h1>Related Posts</h1> 
  <ul> 
    {% for post in site.related_posts limit: 3 %} <li><a href="{{ post.url }}">{{ post.title }}</a></li> 
    {% endfor %}
  </ul> 
</section> 
{% endif %}

</aside> 
</article> 


