---
layout: base
title: 'Tags Archive'
---
<article role="post">
<h1> Tag: {{ page.tag }} </h1>
<ol>
  {% for post in site.tags[page.tag] %}
  <li>
  <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
  <div class="post-meta">
    <span class="date">{{ post.date | date_to_string }} | </span>
	<span class="categories">
	  Tags: {% for tag in post.tags limit: 3 %}<a href="/tags/{{tag | replace:' ', '-' | downcase }}">{{ tag }}{% if forloop.last == false %}, {%endif %}</a> {% endfor %}
	</span>
  </div>
  {% endfor %}
  </li>
</ol>
<!-- ================================================================================ -->
<aside role="sidebar"> 
<section class="social"> 
  <div class="group"> <h1>About Me</h1>
  <img src="/images/profilepic.jpg" class="floatleft"> Arun is a avid enthusiast of everything about computers. He blogs on gadgets, programming, movies and a lot of other things.
  </div> 
  <h1>Follow Me</h1> 
  <ul> 
    <li><a id="soc-rss" href="http://www.arunrocks.com/feed">RSS</a></li> 
    <li><a id="soc-lin" href="http://in.linkedin.com/in/arunvravindran">LinkedIn</a></li> 
    <li><a id="soc-git" href="https://github.com/arocks">Github</a></li> 
    <li><a id="soc-twi" href="http://twitter.com/arocks">Twitter</a></li> 
    <li><a id="soc-del" href="http://www.delicious.com/arun_ravindran">Delicious</a></li> 
  </ul> 
</section> 
</aside> 
</article> 
